header{
    background-color: #9b8189;
    padding: 16px 0;
}

header h1{
    color:rgb(68, 0, 0);
    font-size: 40px;
    font-weight: 100;
    /*font-style: italic;*/
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}