header{
    background-color: black;
    padding: 16px 0;
}

header h1{
    color:rgb(246, 174, 19);
    font-size: 40px;
    font-weight: 100;
    font-style:normal; 
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}
header h5{
    color:rgb(246, 174, 19);
    font-size: 20px;
    position: center;

}