body{
  font-family: 'Open Sans', sans-serif ;
  font-size: 16px;
  line-height: 20px;
  background-color: rgb(188, 103, 7);
}

.holder{
  max-width: 960px;
  margin: 0 auto;
}

h2{
  color: white;
  font-weight: 400;
}