.contacto{
    display: flex;
    gap: 24px;
}

.contacto div{
    width: 100%;
}

.datos p {
    font-size: 14px;
}

.datos ul li{
    font-size: 13px;
}

.formulario p{
    display: flex;
}

.formulario p label{
    min-width: 80px;
    display: flex;
    align-items: center;
}

.formulario p:nth-child(4){
    align-items: start;
}

.formulario textarea{
    resize: none;
    height: 150px;
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.formulario input[type="submit"]:hover{
    background-color: black;
}